<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Firetracker</title>
        <%- include('../partials/nav') %>
    </head>
    <body class="profile-container">
        <div class="hello-profile">
            <div>
                <h1>Hello, <%= currentUser.firstName %>!</h1>
            </div>
            <div class="financial-overview">
                <p>Your Balance</p>
                <p>Today, <%= currentDate %></p>
                <p>
                    <%= (currentUser.balance < 0) ? '-$' + (-1 *
                    currentUser.balance.toFixed(2)) :
                    currentUser.balance.toFixed(2) %>
                </p>
            </div>
            <div>
                <div class="financial-overview">
                    <p>Income</p>
                    <p>Total Income Today</p>
                    <p>$<%= income.toFixed(2) %></p>
                </div>
                <div class="financial-overview">
                    <p>Expenses</p>
                    <p>Total Expense Today</p>
                    <p>$<%= expenses.toFixed(2) %></p>
                </div>
            </div>
        </div>

        <div class="because-i-need-another-one">
            <h1>Transaction History</h1>
            <div class="all-transactions">
            <% transactions.forEach((item,idx) => { %>

            <a
                href="/users/<%= user.username %>/transactions/<%= transactions[idx]._id %>"
            >
                <div style="cursor: pointer" class="description-and-amount">
                    <p class="description"><%= item.description %></p>
                    <p class="amount">$<%= item.amount %></p>
                </div>
                <div class="type-category-date">
                    <div class="type-category">
                        <% if(item.type === 'Expense'){ %>
                        <p class="transaction-type"><%= item.type %>:</p>
                        <% } %>
                        <p class="transaction-category"><%= item.category %></p>
                    </div>
                    <div class="transaction-date">
                        <p><%= item.displayDate %></p>
                    </div>
                </div>
            </a>
            <!-- <br /> -->
            <% }) %>
        </div>
        </div>


        
    </body>
</html>
