<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Firetracker</title>
        <%- include('../partials/nav') %>
    </head>
    <body>
        <div>
            <div>
                <h2>Transaction</h2>
            </div>
            <div>
                <div>
                    <p>Amount</p>
                    <p><%= transaction.displayDate %></p>
                </div>
                <div>
                    <h3>$</h3>
                    <h3><%= transaction.amount %></h3>
                </div>
                <div>
                    <p><%= transaction.type %></p>
                    <% if (transaction.type === 'Expense'){%>
                    <p><%= transaction.category %></p>
                    <%}%>
                </div>
                <div>
                    <p><%= transaction.notes %></p>
                </div>
            </div>
            <div>

                <a href="/users/<%= user.username %>/transactions/<%= transaction._id %>/edit">Edit</a>

                <form
                    action="/users/<%= user.username %>/transactions/<%= transaction._id %>?_method=DELETE"
                    method="POST"
                >
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </body>
</html>
